.con{
    margin-left: auto;
    margin-right: auto;
    max-width: 36rem;
    margin-top: 100px;
    margin-bottom: 145px;
}
.Paper{
    padding: 2rem;
}
.btn{
    background: #7373f0;
    padding: 0.895rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
}
.field{
    border-radius: 5px;
}
@media only screen and (max-width: 600px) {
    .con {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        max-width: 21rem;
    } 

    .paper{
        padding: 1rem;
    }
}