.user_wrapper {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .user_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .user_detail {
    display: flex;
  }
  .user_detail h4 {
    margin-left: 10px;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid grey;
  }
  .user_status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .online {
    background: #34eb52;
  }
  .offline {
    background: #eb4034;
  }

  .selected_user {
    background: #fd8b93;
  }
  .truncate {
    font-size: 14px;
    white-space: nowrap;
    width: 76%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 60px;
    margin-top: -22px;

  }
  .truncate strong {
    margin-right: 10px;
  }
  .unread {
    margin-left: 10px;
    background: blue;
    color: white;
    padding: 2px 4px;
    border-radius: 10px;
  }
  .sm_screen {
    display: none;
  }