.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }
  h1{
      font-size: 2rem;
      font-weight: 600;
  }
  p{
      font-size: 1rem;
      font-weight: 400;
      margin: 15px auto;
      color: grey;
  }
  input {
    
    width: 100%;
    padding: 15px;
    margin: 12px 0px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
   
  }

  
  textarea {
    width: 100%;
    padding: 15px;
    margin: 8px 0px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  input:focus,textarea:focus{
    outline: 1px solid rgb(115, 115, 240);
  }
  input[type="submit"] {
    width: 100%;
    background-color: rgb(115, 115, 240);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
  }
  input[type="submit"]:hover{
    background: #2F3542;
  }
  