.app__bar {
    background-color: #F3F5FA!important;
    box-shadow: none !important;
    border-bottom: solid 1px #1118271a!important;
}
.app__bar a{
    text-decoration: none;
    padding: 10px 20px;
    margin: 0px 5px;
    color: #2F3542;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.menu1 a:hover{
    background: rgba(83, 82, 237, 0.8);
    border-radius: 5px;
    color: #ffffff;
}
.menu1{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.login{
    display: flex;
}
.login .simple{
    color: rgba(83, 82, 237, 0.8)!important;
    background: #F3F5FA;
}
.login .simple:hover{
    color: white!important;
    color: #2f354262;
    
}
.login a{
    background: rgba(83, 82, 237, 0.8);
    border-radius: 5px;
    color: #ffffff !important;
    justify-content: center;
}
.login a:hover{
    background:#2F3542
}
/* menu */
ul .pages{
    padding: 10px 20px;
    margin: 0px 5px;
    color: #2F3542;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}

ul .login{
    background: rgba(83, 82, 237, 0.8);
    border-radius: 5px;
    color: #ffffff !important;
    justify-content: center;
    padding: 10px 20px;
    margin: 0px 5px;
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.navbar_login__lR-mU .login:hover{
    background:#2F3542
}