*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding: 0 !important; 
  overflow: auto!important;
  padding-right: 0px !important; 
  /* background-color: #f8f8f8 !important; */
}

a{
  text-decoration: none;
}